In [4]:
import nbimporter

In [9]:
from CleanW2V_best_sentence import run_all
import pandas as pd

In [10]:
exp_frame = pd.read_csv('Example_dataset_marble - 5_column_with_correct.csv')
exp_frame["category"] = [a[0] for a in exp_frame["Fieldname"].str.split(";")] 
exp_frame.tail()

,Field,Field_correct,Field_en,Field_correct_en,Accuracy_score,Code,Fieldname,category
1780,een kanaal dat het afstand verkort,Suez kanaal gegraven,a channel that shortens the distance,Suez canal dug,4,g,Suez;Field4,Suez
1781,gewenning aan geld en luxe,Suez kanaal gegraven,habituation to money and luxury,Suez canal dug,0,c,Suez;Field4,Suez
1782,veel afstanden verkort,Suez kanaal gegraven,many distances shortened,Suez canal dug,0,c,Suez;Field4,Suez
1783,zeemiles minder,Suez kanaal gegraven,zeemiles less,Suez canal dug,0,c,Suez;Field4,Suez
1784,suezkanaal geopend als scheepsweg in 1842,Suez kanaal gegraven,Suez Canal opened in 1842 scheepsweg,Suez canal dug,4,g,Suez;Field4,Suez

In [11]:
frame = run_all(exp_frame, benchmarks)

NameError: name 'benchmarks' is not defined

In [17]:
b = zip([1,2,3,4,5,6,6,5,6,5], [1])

In [18]:
[print(a) for a in b]

(1, 1)

[None]